:root {
    --w: calc(50vw / 3);
    --h: calc(70vh / 3);
}

.cards {
    display: flex;
    justify-content: center;
}

.card {
    padding: .5rem;
    margin: .8rem;
}

.card img {
   width: var(--w);
   height: var(--h);
}

